DEBUG=true
DATABASE_URL=postgres://postgres:password@127.0.0.1:5432/sciedu?sslmode=disable
MIGRATION_SOURCE=file://internal/database/migrations
LLM_MODULE_URL=http://localhost:8000
HOST=localhost
PORT=8080
