name: sciedu-stage

services:
  backend:
    image: nycusdc/sciedu-backend:stage
    networks:
      - internal
      - traefik
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      - ENV=stage
      - HOST=0.0.0.0
      - BASE_URL=https://api.dev.sciedu.sdc.nycu.club
      - DATABASE_URL=postgres://postgres:password@postgres:5432/sciedu?sslmode=disable
    labels:

  postgres:
    image: postgres:latest
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 10s
      timeout: 5s
      retries: 5
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: sciedu
    networks:
      - internal


networks:
  internal:
  traefik:
    external: true