name: Lint, Test, and Build Backend

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read
  packages: write

jobs:
  Lint:
    runs-on:  ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Setup go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.1'

      - name: Setup Sqlc
        uses: sqlc-dev/setup-sqlc@v4
        with:
          sqlc-version: '1.28.0'

      - name: Setup mockery
        uses: brokeyourbike/go-mockery-action@v0
        with:
          mockery-version: '2.53.5'

      - name: Build
        run: |
          go mod download
          make gen

      - name: Lint
        uses: golangci/golangci-lint-action@v7
        with:
          version: v2.4

  Test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Setup go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.1'

      - name: Setup Sqlc
        uses: sqlc-dev/setup-sqlc@v4
        with:
          sqlc-version: '1.28.0'

      - name: Setup mockery
        uses: brokeyourbike/go-mockery-action@v0
        with:
          mockery-version: '2.53.5'

      #- name: Test
      #  run: make test

  Build:
    needs: Test
    runs-on:  ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Setup go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.1'

      - name: Setup Sqlc
        uses: sqlc-dev/setup-sqlc@v4
        with:
          sqlc-version: '1.28.0'

      - name: Setup mockery
        uses: brokeyourbike/go-mockery-action@v0
        with:
          mockery-version: '2.53.5'

      - name: Build
        run: |
          go mod download
          make gen
          env GOOS=linux go build -o bin/backend cmd/backend/main.go

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}


      - name: Build and Push Docker image
        uses: docker/build-push-action@v6
        with:
          cache-from: type=gha
          cache-to: type=gha,mode=max
          push: true
          tags: |
            ghcr.io/nycu-sdc/sciedu-backend:pr-${{ github.event.number }}
            ghcr.io/nycu-sdc/sciedu-backend:${{ github.sha }}
          context: .

  Deploy:
    name: Deploy
    needs: Build
    runs-on: ubuntu-latest
    steps:
      - name: Extract PR body for webhook
        uses: NYCU-SDC/Extract-PRbody@V1.0
        id: extract
        with:
          pr_body: ${{ github.event.pull_request.body }}

      - name: Process PR body for webhook
        run: |
          PR_TYPE=$(jq -Rs . << 'EOF'
          ${{ steps.extract.outputs.type_block }}
          EOF
          )
          
          PR_PURPOSE=$(jq -Rs . << 'EOF'
          ${{ steps.extract.outputs.purpose_block }}
          EOF
          )
          
          {
            echo "PR_TYPE=$PR_TYPE"
            echo "PR_PURPOSE=$PR_PURPOSE"
          } >> "$GITHUB_ENV"

      - name: Trigger n8n Snapshot Webhook
        run: |
          json=$(jq -n \
            --arg title "sciedu" \
            --arg repo "${{ github.repository }}" \
            --arg branch "${{ github.head_ref || github.ref_name }}" \
            --arg commit "${{ github.sha }}" \
            --arg pr_number "${{ github.event.number }}" \
            --arg pr_title "${{ github.event.pull_request.title }}" \
            --arg pr_type "$PR_TYPE" \
            --arg pr_purpose "$PR_PURPOSE" \
            '{
              source: {
                title: $title,
                repo: $repo,
                branch: $branch,
                commit: $commit,
                pr_number: $pr_number,
                pr_title: $pr_title,
                pr_type: $pr_type,
                pr_purpose: $pr_purpose
              },
              method: "deploy",
              metadata: {
                environment: "snapshot",
                component: "backend"
              },
              post: {
                notify_discord: {
                  enable: true,
                  channel: "sciedu-activity"
                },
                setup_domain: {
                  enable: true,
                  title: "Endpoint",
                  name: "api.pr-${{ github.event.pull_request.number }}.sciedu.sdc.nycu.club",
                  value: "default-eng-deploy:internal"
                }
              }
            }')
          
          echo "===== JSON to send ====="
          echo "$json"
          
          curl --location --request POST 'https://webhook.sdc.nycu.club/webhook/deploy' \
            --fail-with-body \
            --header 'Content-Type: application/json' \
            --header 'x-deploy-token: ${{ secrets.N8N_DEPLOY_TOKEN }}' \
            --data "$json"